In [3]:
sozluk = {"Kategori": ["Giyim","Giyim", "Ayakkabı","Aksesuar","Ayakkabı","Giyim","Aksesuar","Aksesuar","Ayakkabı","Giyim"],
            "Ürün" : ["Kazak","T-shirt","Sandalet","Küpe","Spor Ayakkabı","Pantolon","Kolye","Yüzük","Çizme","Ceket"],
            "Fiyat" : [300,180,450,50,700,400,150,80,850,900]}

### Yukarıdaki sözlük DataFrame’e dönüştürülür.

In [4]:
import pandas as pd

In [6]:
df = pd.DataFrame(sozluk)
df

   Kategori           Ürün  Fiyat
0     Giyim          Kazak    300
1     Giyim        T-shirt    180
2  Ayakkabı       Sandalet    450
3  Aksesuar           Küpe     50
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850
9     Giyim          Ceket    900

### 2.indexte bulunan kategori bulunur. (Sadece kategori bilgisi)

In [8]:
df["Kategori"].iloc[2]

'Ayakkabı'

### 2. indexte bulunan ürün bulunur. (Sadece ürün bilgisi)

In [10]:
df["Ürün"].iloc[2]

'Sandalet'

In [15]:
df[4:10][["Kategori","Ürün","Fiyat"]]

   Kategori           Ürün  Fiyat
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850
9     Giyim          Ceket    900

In [14]:
df.iloc[4:10]

   Kategori           Ürün  Fiyat
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850
9     Giyim          Ceket    900

### 1.indexten 6.indexe kadar olan ürünler bulunur. (Sadece ürün bilgisi)

In [16]:
df["Ürün"].iloc[1:7]

1          T-shirt
2         Sandalet
3             Küpe
4    Spor Ayakkabı
5         Pantolon
6            Kolye
Name: Ürün, dtype: object

In [18]:
df.iloc[1:7][["Ürün"]]

            Ürün
1        T-shirt
2       Sandalet
3           Küpe
4  Spor Ayakkabı
5       Pantolon
6          Kolye

### Giyim kategorisinde bulunan ürünler gösterilir.

In [19]:
df[df['Kategori'] == 'Giyim']

  Kategori      Ürün  Fiyat
0    Giyim     Kazak    300
1    Giyim   T-shirt    180
5    Giyim  Pantolon    400
9    Giyim     Ceket    900

### Ayakkabı kategorisinde bulunan ürünler gösterilir.

In [20]:
df[df['Kategori'] == 'Ayakkabı']

   Kategori           Ürün  Fiyat
2  Ayakkabı       Sandalet    450
4  Ayakkabı  Spor Ayakkabı    700
8  Ayakkabı          Çizme    850

### Aksesuar kategorisinde bulunan ürünler gösterilir.

In [24]:
df[df['Kategori'] == 'Aksesuar']

   Kategori   Ürün  Fiyat
3  Aksesuar   Küpe     50
6  Aksesuar  Kolye    150
7  Aksesuar  Yüzük     80

### Giyim kategorisinde fiyatı 300'den fazla olan ürünler gösterilir.

In [25]:
df[(df['Kategori'] == 'Giyim') & (df['Fiyat'] > 300)]

  Kategori      Ürün  Fiyat
5    Giyim  Pantolon    400
9    Giyim     Ceket    900

### Ayakkabı kategorisinde fiyatı 600'den az olan ürünler gösterilir.

In [26]:
df[(df['Kategori'] == 'Ayakkabı') & (df['Fiyat'] < 600)]

   Kategori      Ürün  Fiyat
2  Ayakkabı  Sandalet    450

### Aksesuar kategorisinde fiyatı 100'den fazla olan aksesuar gösterilir.

In [28]:
df[(df['Kategori'] == 'Aksesuar') & (df['Fiyat'] > 100)]

   Kategori   Ürün  Fiyat
6  Aksesuar  Kolye    150