In [50]:
import warnings
warnings.filterwarnings("ignore")

In [51]:
import pandas as pd

df = pd.read_csv('clean_data2.csv')

In [52]:
"""
logistic regresyon modeli
knn modeli
desicion tree modeli
random forest modeli
"""

'\nlogistic regresyon modeli\nknn modeli\ndesicion tree modeli\nrandom forest modeli\n'

In [53]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score

In [54]:
def ml(model, X_train, X_test, y_train, y_test):
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    acc = accuracy_score(y_test, y_pred)
    prec = precision_score(y_test, y_pred,average='weighted')
    rec = recall_score(y_test, y_pred,average='weighted')
    f1 = f1_score(y_test, y_pred,average='weighted')
    return acc, prec, rec, f1

In [55]:
df.head()

,adm_type,shift_from,ssc,yr_nae,m_no,sex,disease,D.O.A,D.O.D,status,consultant,L.O.S
0,4,21,0,1,1,0,623,10,10,1,6,0
1,4,21,0,2,2,1,25,10,753,1,8,4
2,4,21,0,3,3,1,783,10,39,1,4,9
3,4,21,0,13,13,0,324,327,753,1,10,3
4,4,21,0,14,14,1,25,327,186,1,4,13

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7481 entries, 0 to 7480
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   adm_type    7481 non-null   int64
 1   shift_from  7481 non-null   int64
 2   ssc         7481 non-null   int64
 3   yr_nae      7481 non-null   int64
 4   m_no        7481 non-null   int64
 5   sex         7481 non-null   int64
 6   disease     7481 non-null   int64
 7   D.O.A       7481 non-null   int64
 8   D.O.D       7481 non-null   int64
 9   status      7481 non-null   int64
 10  consultant  7481 non-null   int64
 11  L.O.S       7481 non-null   int64
dtypes: int64(12)
memory usage: 701.5 KB

In [57]:
hastalık = df['disease'] #bağımli değişken / hedef değişken
kalanlar = df.drop('disease', axis=1) #bağımsız değişkenler

In [58]:
X_train, X_test, y_train, y_test = train_test_split(kalanlar, hastalık, test_size=0.3, random_state=42)

In [59]:
log_reg = LogisticRegression(max_iter=1000)
knn = KNeighborsClassifier()
dt = DecisionTreeClassifier()
rf = RandomForestClassifier()

In [60]:
log_reg_sonuc = ml(log_reg, X_train, X_test, y_train, y_test)

In [61]:
knn_sonuc = ml(knn, X_train, X_test, y_train, y_test)

In [62]:
dt_sonuc = ml(dt, X_train, X_test, y_train, y_test)

In [63]:
rf_sonuc = ml(rf, X_train, X_test, y_train, y_test)

In [68]:
sonuçlar = pd.DataFrame({"Model": ["Logistic Regression", "KNN", "Decision Tree", "Random Forest"],
                            "Accuracy": [log_reg_sonuc[0], knn_sonuc[0], dt_sonuc[0], rf_sonuc[0]],
                            "Precision": [log_reg_sonuc[1], knn_sonuc[1], dt_sonuc[1], rf_sonuc[1]],
                            "Recall": [log_reg_sonuc[2], knn_sonuc[2], dt_sonuc[2], rf_sonuc[2]],
                            "F1": [log_reg_sonuc[3], knn_sonuc[3], dt_sonuc[3], rf_sonuc[3]]})
sonuçlar

                 Model  Accuracy  Precision    Recall        F1
0  Logistic Regression  0.191091   0.042867  0.191091  0.067251
1                  KNN  0.129621   0.103507  0.129621  0.103750
2        Decision Tree  0.111359   0.112900  0.111359  0.110952
3        Random Forest  0.148330   0.116877  0.148330  0.124576